

.rotated270-lg {
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    /*  width: fit-content;
       margin-top : 3px;
      margin-bottom : 10px; */
}

@media screen and (max-width: 600px) {
.rotated270-lg {
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
     width: fit-content;
      margin-left : 0px;
     /*   margin-top : 3px;
      margin-bottom : 10px; */
}
}

/* .fancybox-slide.fancybox-slide--iframe.fancybox-slide--current.fancybox-slide--complete {
padding-top: 3rem!important;
padding-right: 1rem!important;
padding-left: 1rem!important;
padding-bottom: .5rem!important;
overflow-y: auto;
overflow-x: auto;
}

.fancybox-slide--iframe .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
} */

.fancybox-content {
    border: 7px solid white;
    border-radius: .5rem!important;
}

@media screen and (max-width: 600px) {
.testParamTables{
	font-size: smaller !important;
}

.DataTable11{
	font-size: smaller !important;
}

.DataTable12{
	font-size: smaller !important;
}
}



.testParamTables th {
  border-top: 1px  lightgrey !important;
}

.testParamTables td{
  border-bottom: 1px solid white !important;
}

.testParamTables{
background: linear-gradient(45deg, #02D67F,#048DCC, #067aef, #16bffd);
/* color: white; */
width: 50% !important; 
}

.testParamTables td {
    color: black;
}

.testParamTables th {
    color: white;
}

#DataTable11 th, #DataTable11 td{
  border-top:0px ;
}

.reValidatedGradient {
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
	background: linear-gradient(to right, #00b09b, #96c93d);
	color: white;
}

.DataTable11Caption{
	padding-bottom: 0px;
}

.DataTable12Caption{
	padding-bottom: 0px;
}
