
html { font-size: 14px  }

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}



.divShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 16px 0px, rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
  background-color: green;
  border: none;
  color: yellow;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display:
    inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  height: 40px;
}

.vertical-text {
  writing-mode: vertical-rl !important;
  text-orientation: mixed;
}

.CrystalClear {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.CoolSky {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.WitchingHour {
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.RainbowBlue {
  background: #00F260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#DataTable1 td, #DataTable2 td, #DataTable3 td, #DataTable4 td, #DataTable5 td,
#DataTable1 th, #DataTable2  th, #DataTable3  th, #DataTable4  th, #DataTable5  th{
  border-top:0px !important;
}


/* #DataTable2 table tr td tr {
    border: 1px solid grey;
    box-shadow: -3px 3px 6px 0px grey;
} */

#DataTable2 table tr td,
#DataTable3 table tr td,
#DataTable4 table tr td,
#DataTable5 table tr td {
    box-shadow: -3px 3px 6px 0px grey;
}

#DataTable2 tbody table table tr :hover,
#DataTable3 tbody table table tr :hover,
#DataTable4 tbody table table tr :hover,
#DataTable5 tbody table table tr :hover {
    box-shadow: -3px 3px 6px 0px #007BFF;
}

#DataTable2 table tr td tr td,
#DataTable3 table tr td tr td,
#DataTable4 table tr td tr td,
#DataTable5 table tr td tr td {
    box-shadow: 0px 0px 0px 0px ;
}


.hoverCards:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #007BFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
