
html { font-size: 14px;
font-family: 'averta-regularuploaded_file';
  }

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body{
  background-color: #F3FBFF;
  /* color: #F2F2F2; */
}

container-fluid{
background-color: #F3FBFF;
color: #F2F9FF;
}

.btn-primary{
  background-color:  #13A1FE !important;
  border-color: #13A1FE !important;
  box-shadow: -0.1px 1px 20px -7px #007bff !important;
}

.btn-warning{
  background-color:  #ffc107 !important;
  box-shadow: -0.1px 1px 20px -7px #ffc107 !important;

}

.text-primary{
  color:  #13A1FE !important;
}

th, td, a, p, label, button, span{
  font-family: 'averta-regularuploaded_file';
}

i {
  font-family: 'averta-semibolduploaded_file';
}

.nav-tabs {
    border-bottom: 1px solid #12B796;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nav-tabs .nav-link {
    border-bottom-color:  #12B796;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.nav-tabs .nav-link:hover {
 border: 1px solid #12B796;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #12B796;
    background-color: #fff;
}

.nav-tabs .nav-link.active {
    border: 1px solid #12B796;
    border-bottom: 1px solid transparent;
}

/* Remove input type number up and down arrow */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.divShadow {
box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 16px 0px, rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
background-color: green;
border: none;
color: yellow;
padding: 2px 15px;
text-align: center;
text-decoration: none;
display:
inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition-duration: 0.4s;
height: 40px;
}

.vertical-text {
writing-mode: vertical-rl !important;
text-orientation: mixed;
}

/* custom sub expand table card header color start*/
.essenDataColor{
background: #00F260;
background: -webkit-linear-gradient(to right, #0575E6, #00F260);
background: linear-gradient(to right, #0575E6, #00F260);
}
.reqnRaisingColor{background: #7e57c2;}
.sampleCollColor{ background: #5c6bc0;}
.packListGenColor{background: #42a5f5;}
.sampleAccepColor{background: #b2102f;}
.sampleRejeColor{ background: #00695f;}
.patAccepColor{   background: #b2102f;}
.patRejeColor{    background: #00695f;}
.resultEntColor{  background: #a31545;}
.reportGenColor{  background: #00352c;}
/* custom sub expand table card header color end*/

/* Requstion Status Column cell colors starts*/
.reqnStaus{padding:5px !important;}
.reqnStausA{
	/* text-align: center; */
	cursor: default;
	text-decoration: none !important;
	padding: .4em 1em .4em !important;
  font-size: 95% !important;
  border-radius: .2em !important;
}

.stReqnRaisedColor{        	color: #7e57c2 !important; 	border-left : 4px solid #7e57c2; }
.stStsampleCollectedColor{ 	color: #5c6bc0 !important; 	border-left : 4px solid #5c6bc0; }
.stPackListGenColor{      	color: #42a5f5 !important; 	border-left : 4px solid #42a5f5; }
.stSampleAcceptColor{ 		  color: #b2102f !important;  border-left : 4px solid #b2102f; }
.stResultEnteredColor{ 		  color: #a31545 !important; 	border-left : 4px solid #a31545; }
.stResultvalidColor{ 		    color: #932020 !important;	border-left : 4px solid #932020; }
.stPatRejectcolor{ 			    color: #00695f !important;	border-left : 4px solid #00695f; }
.stTestResceduleColor{ 		  color: #c0ca33 !important;	border-left : 4px solid #c0ca33; }
.stTestResceduleColor{ 		  color: #00e676 !important;	border-left : 4px solid #00e676; }
.stSampleCancleColor{ 		  color: #00695f !important;	border-left : 4px solid #00695f; }
.stWaitReportPntColor{ 		  color: #4caf50 !important;	border-left : 4px solid #4caf50; }
.stResultPrintColor{ 		    color: #1de9b6 !important;	border-left : 4px solid #1de9b6; }
.stTestCancleColor{ 		    color: #e65100 !important;	border-left : 4px solid #e65100; }
.stTestDeleteColor{ 		    color: #1769aa !important;	border-left : 4px solid #1769aa; }
.stMachineProcessColor{ 	  color: #b2102f !important;	border-left : 4px solid #b2102f; }
.stReportGenColor{ 			    color: #00352c !important;	border-left : 4px solid #00352c; }
.stDraftResultEnteredColor{ color: #4bd396 !important;	border-left : 4px solid #4bd396; }
.stDraftResultValidColor{ 	color: #4bd396 !important;	border-left : 4px solid #4bd396; }
.stTestAdvisedColor{ 		    color: #4bd396 !important;	border-left : 4px solid #4bd396; }

.stIcon{
	float:right;
	color:#13A1FE;
	font-size: large;
}


.tatIcon{
	float:right;
}

/* Requstion Status Column cell colors ends */


/* datatable css starts */

#DataTable1 td, #DataTable2 td, #DataTable3 td, #DataTable4 td, #DataTable5 td, #DataTable6 td, #DataTable7 td,
#DataTable1 th, #DataTable2  th, #DataTable3  th, #DataTable4  th, #DataTable5  th, #DataTable6  th, #DataTable7  th{
  border-top:0px !important;
}


/* #DataTable2 table tr td tr {
    border: 1px solid grey;
    box-shadow: -3px 3px 6px 0px grey;
} */

#DataTable2 table tr td,
#DataTable3 table tr td,
#DataTable4 table tr td,
#DataTable5 table tr td,
#DataTable6 table tr td,
#DataTable7 table tr td {
box-shadow: -3px 3px 6px 0px grey;
}

/* #DataTable2 tbody table table tr :hover,
#DataTable3 tbody table table tr :hover,
#DataTable4 tbody table table tr :hover,
#DataTable5 tbody table table tr :hover {
    box-shadow: -3px 3px 6px 0px #007BFF;
} */

.rowhover :hover{
  box-shadow: -3px 3px 6px 0px #007BFF;
}

#DataTable2 table tr td tr td,
#DataTable3 table tr td tr td,
#DataTable4 table tr td tr td,
#DataTable5 table tr td tr td,
#DataTable6 table tr td tr td,
#DataTable7 table tr td tr td {
    box-shadow: 0px 0px 0px 0px ;
}


#patDetails-table {
    /* box-shadow: -4px 3px 9px 0px #007bff; */
    /* transform: scale(1,0); */
  /* border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */
  border: 1px solid grey;
}

#DataTable1 th {
  border-bottom:0px;
}
/* #DataTable1 :hover{
     box-shadow: -4px 3px 9px 0px #007bff;


  border-top: 0px solid  !important;
  border-bottom: 0px solid  !important;
  border-left: 0px solid  !important;
  border-right: 0px solid !important;;
} */


#DataTable1 :hover{
    box-shadow: 0px 0px 0px 0px !important;
}

.rowGroupReqnDate {
border-bottom: 5px solid !important;
border-left: 5px solid !important;
/* border-color: #16BFFD  !important;
border-color: -webkit-linear-gradient(to right,  #CB3066, #16BFFD,  #ffff)  !important;
border-color: linear-gradient(to right,   #CB3066, #16BFFD , #ffff)  !important; */
border-image: linear-gradient(45deg, #CB3066, #16BFFD) 1;
/* border-left: 1px solid #c5c5c5  !important;  */
border-radius: .2em !important;
padding: .4em 1em .4em !important;

/* background: #1FA2FF;  fallback for old browsers
background: -webkit-linear-gradient(to left, #ffff, #A6FFCB, #12D8FA, #1FA2FF);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to left, #ffff, #A6FFCB, #12D8FA, #1FA2FF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/* background: #16BFFD;
background: -webkit-linear-gradient(to right,  #CB3066, #16BFFD,  #ffff);
background: linear-gradient(to right,   #CB3066, #16BFFD , #ffff); */

}



table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
top: 7px;
}

.fa-chevron-circle-up , .fa-chevron-circle-down{
font-size: 15.5px !important;
}

.fa-chevron-circle-down:hover{
text-shadow: -1px 2px 11px #00ff18b8;
}

.fa-chevron-circle-up:hover{
text-shadow: -1px 2px 11px #dc3545;
}
/* datatable css ends */

/* home cards slide animation start*/
.hoverCards:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #007BFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* home cards slide animation end*/

/* Color gradiants */
.CrystalClear {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.CoolSky {
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

.WitchingHour {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}

.RainbowBlue {
  background: #00F260;
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);
  background: linear-gradient(to right, #0575E6, #00F260);
}

.martini{
  background: #FDFC47;
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.instgram{
  background: #833ab4;
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.velvetsun{
  background: #e1eec3;
background: -webkit-linear-gradient(to left, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
